@import "Index";
@import "Header";
@import "Flights";
@import "../fonts/stylesheet.css";

body {
  margin: 0;
  font-family: 'TT Hoves', sans-serif;
  font-weight: 400;
  background-color: #FFFFFF;
  overflow-x: hidden;
  height: 100vw;
  width: 100vw;
}