#load-flights {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 104px);

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      animation: rotate 1.5s linear infinite;
    }

    p {
      color: #ACACAC;
      font-size: 12px;
      margin: 12px 0 0 0;
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: 240px 70px;
    grid-template-rows: repeat(2, 14px);
    gap: 6px;
    width: calc(100% - 55px);
    padding: 20px 40px 20px 15px;
    justify-content: space-between;

    &:before {
      content: "";
      height: 1px;
      width: 100%;
      background-color: rgba(#EAEAEA, 0.5);
      position: absolute;
      top: 0;
      left: 0;
    }

    p {
      margin: 0;
      font-size: 12px;
      color: #222222;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#results {
  padding: 0 15px;

  & > p:first-child {
    font-size: 10px;
    color: #222222;
    margin: 0;

    a {
      text-decoration: none;
      color: #ACACAC;
    }
  }

  #results__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;

    p {
      font-weight: 500;
      font-size: 20px;
      color: #222222;
      margin: 0;
    }

    div {
      font-weight: 500;
      font-size: 14px;
      color: #222222;
      padding: 14px 28px;
      border: 1px solid #222222;
      border-radius: 22px;
    }
  }
}

.results__container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;

  & > p {
    font-weight: 500;
    font-size: 14px;
    color: #222222;
    position: relative;
    margin: 0;

    &:after {
      content: "";
      position: absolute;
      width: 100vw;
      height: 1px;
      background-color: rgba(#ECECEC, 0.5);
      bottom: -15px;
      left: -15px;
    }
  }
}

.flight-preview {
  margin-top: 30px;

  & > p {
    font-size: 12px;
    color: #ACACAC;
    margin: 0 0 0 15px;
  }
}

.flight-preview__block {
  margin-top: 12px;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  border-radius: 24px;
  padding: 15px;
}

.flight-preview__block__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  a {
    font-weight: 500;
    font-size: 14px;
    border-bottom: 1px solid #B286FD;
    color: #B286FD;
    cursor: pointer;
  }

  &:not(:last-child) {
    margin-bottom: 30px;

    &:after {
      content: "";
      width: calc(100% + 30px);
      height: 1px;
      background-color: rgba(#ECECEC, 0.5);
      position: absolute;
      bottom: -15px;
      left: -15px;
    }
  }
}

.flight-preview__block__flex__date {
  display: flex;
  flex-direction: column;

  p:first-child {
    font-weight: 500;
    font-size: 20px;
    color: #222222;
    margin: 0;
  }

  p:last-child {
    font-size: 12px;
    color: #ACACAC;
    margin: 4px 0 0 0;
  }
}

.flight-preview__block__flex__way {
  display: flex;
  align-items: center;
  flex-direction: column;

  svg:first-child {
    margin-bottom: 8px;
  }

  p {
    font-weight: 500;
    font-size: 10px;
    color: #ACACAC;
    margin: 6px 0 0 0;
  }
}

.flight-preview__block__flex__cities {
  display: flex;
  flex-direction: column;

  p:first-child {
    color: #222222;
    font-size: 16px;
    margin: 0;
  }

  p:last-child {
    color: #ACACAC;
    font-weight: 500;
    font-size: 10px;
    margin: 4px 0 0 0;
  }
}

.flight-preview .flight-preview__block__flex__class {
  margin-bottom: 14px;

  &:after {
    bottom: -7.5px;
  }

  p {
    padding: 4px 6px;
    font-weight: 500;
    font-size: 12px;
    margin: 0;
    color: #222222;
    background: #92F022;
    border-radius: 100px;
  }
}

.flight-preview__block__flex__prices, .other-flights__price {
  display: flex;
  align-items: center;

  p {
    font-weight: 500;
    font-size: 12px;
    color: #ACACAC;
    margin: 0;
  }

  button {
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'TT Hoves', sans-serif;
    background: #222222;
    border-radius: 22px;
    border: none;
    outline: none;
    padding: 10px 20px;
    margin-left: 12px;
  }
}

.other-flights {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #EFEFEF;
  border-radius: 24px;
  background: #FFFFFF;
  padding: 15px;
  margin-top: 5px;

  &:nth-child(2) {
    margin-top: 15px;
  }

  &:last-child {
    margin-bottom: 15px;
  }
}

.other-flights__time {
  display: flex;
  flex-direction: column;

  p:first-child {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    color: #222222;
  }

  p:last-child {
    margin: 4px 0 0 0;
    color: #ACACAC;
    font-size: 12px;
  }
}

.results__container__other {
  & > p {

    &:after {
      content: none;
    }
  }
}

#about-flight {
  max-height: 80vh;
  overflow: scroll;
  padding: 5px 15px 15px 15px;
}

#about-flight__boeing {
  display: flex;
  align-items: center;

  svg {
    width: 28px;
    height: 9px;
  }

  span {
    font-weight: 500;
    font-size: 10px;
    color: #ACACAC;
    margin-left: 10px;
    word-wrap: break-word;
    width: calc(100% - 28px);
  }
}

.about-flight__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: -15px;
    width: 100vw;
    height: 1px;
    background-color: rgba(#ECECEC, 0.5);
  }
}

.about-flight__container__column {
  display: flex;
  flex-direction: column;
  max-width: 70%;

  p:first-child {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    color: #ACACAC;
  }

  p:last-child {
    font-size: 16px;
    color: #222222;
    margin: 10px 0 0 0;
  }
}

#about-flight__container__cities {
  display: flex;
  flex-direction: column;
  max-width: 80%;

  p:first-child {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    color: #222222;
  }

  p:last-child {
    font-weight: 500;
    font-size: 10px;
    color: #ACACAC;
    margin: 4px 0 0 0;
  }
}

#about-flight__container__date {
  display: flex;
  flex-direction: column;

  p:first-child {
    margin: 0;
    font-size: 14px;
    color: #222222;
  }

  p:last-child {
    font-weight: 500;
    font-size: 10px;
    color: #ACACAC;
    margin: 6px 0 0 0;
  }
}

#about-flight__container__carrier-text {
  font-weight: 500;
  font-size: 14px;
  color: #222222;
  margin: 15px 0 0 0;
}

.about-flight__container-big {
  div {
    width: 45%;

    p {
      word-wrap: break-word;
    }
  }
}

.drop {
  position: relative;

  &:not(:first-child) {
    margin-top: 40px;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 1px;
    background-color: rgba(#DBDBDB, 0.5);
  }
}

#filter {
  max-height: 80vh;
  overflow: scroll;
  padding: 20px 15px;

  button {
    margin-top: 40px;
    background: #222222;
    border-radius: 22px;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-family: 'TT Hoves', sans-serif;
    height: 44px;
  }
}

.drop__content {
  transition: max-height 0.3s ease;
}

.drop-open {
  .drop__title {
    svg {
      transform: rotate(180deg);
    }
  }
}

.drop-close {
  .drop__content {
    overflow: hidden;
    max-height: 0;
  }

}

@keyframes dropdown-animation {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.drop__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #222222;
  font-weight: 500;
  font-size: 14px;

  svg {
    transition: 0.3s;
    margin-left: 20px;
  }
}

.range {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.range__inputs {
  position: relative;
  width: 100%;

  .range__inputs__left-indent, .range__inputs__right-indent {
    position: absolute;
    z-index: 1;
    height: 2px;
    background-color: #F1F1F1;
    left: 0;
  }

  .range__inputs__right-indent {
    right: 0;
    left: initial;
  }

  input {
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
    height: 0;
    outline: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    z-index: 1;
  }

  input:first-child {
    &:after {
      content: "";
      background: #92F022;
      height: 2px;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      z-index: -2;
    }
  }


  input::-webkit-slider-thumb {
    pointer-events: all;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: #FFFFFF;
    border: 2px solid #92F022;
    z-index: 2;
  }

  input::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
  }
}

.range__values {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;

  p {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    color: #ACAEAF;
  }
}