header {
  display: flex;
  align-items: center;
  padding: 20px 15px;

  div {
    display: flex;
    flex-direction: column;
    margin-left: 12px;

    p {
      margin: 4px 0 0 0;
      font-size: 12px;
      color: #ACACAC;
    }
  }

  p {
    font-weight: 500;
    font-size: 12px;
    color: #222222;
    margin-left: auto;
  }

  label {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    margin-left: 12px;

    input {
      display: none;
    }

    input:focus + span {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + span:before {
      -webkit-transform: translateX(14px);
      -ms-transform: translateX(14px);
      transform: translateX(14px);
    }

    span {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 11px;
      background-color: #222222;

      &::before {
        position: absolute;
        content: "";
        height: 17px;
        width: 17px;
        left: 5px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
      }
    }
  }
}

#logo {
  width: 44px;
  height: 44px;
}