#switch-direction {
  display: flex;
  align-items: center;
  width: 345px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(#DBDBDB, 0.2);
  border-radius: 10px;
  padding: 2px;

  div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: #222222;
  }

  .active:first-child {
    &:after {
      animation: switchFirst 0.2s ease-in;
    }
  }

  .active:last-child {
    &:after {
      animation: switchLast 0.2s ease-in;
    }
  }


  @keyframes switchFirst {
    0% {
      transform: translateX(175px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes switchLast {
    0% {
      transform: translateX(-175px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .active {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #92F022;
      border-radius: 10px;
      z-index: -1;
    }
  }
}

.home__wrapper {
  width: 345px;
  margin-right: auto;
  margin-left: auto;
}

.home__title {
  font-weight: 500;
  font-size: 12px;
  color: #222222;
  margin: 24px 0 0 0;
}

.direction-input {
  margin-top: 6px;
  position: relative;

  svg {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translate(0, -50%);
  }

  #rotate {
    top: 25%;
    transform: rotate(50.18deg);
  }

  p {
    display: flex;
    position: absolute;
    top: 16px;
    font-size: 12px;
    color: rgba(#ADADAD, 0.8);
    margin: 0;
    padding-left: 45px;
    width: calc(100% - 54px);
    z-index: 1;
    pointer-events: none;

    span:nth-child(2) {
      margin-left: 8px;
    }

    span:nth-child(3) {
      margin-left: auto;
    }
  }

  input {
    width: calc(100% - 44px);
    background: #F4F4F4;
    border-radius: 10px;
    font-family: 'TT Hoves', sans-serif;
    border: none;
    outline: none;
    height: 44px;
    font-size: 12px;
    padding: 1px 0 1px 45px;
    color: #222222;

    &:focus {
      padding: 0 0 0 44px;
      border: 1px solid #92F022;
    }

    &::placeholder {
      color: #ADADAD;
      font-weight: 500;
    }
  }
}

#home__wrapper__dates {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > div {
    width: calc(48%);

    div {
      font-size: 10.5px;

      span {
        font-size: 12px;
      }
    }
  }
}

#calendar-input {
  margin-top: 6px;
  position: relative;

  div {
    display: flex;
    align-items: center;
    width: calc(100% - 42px);
    background: #F4F4F4;
    border-radius: 10px;
    height: 42px;
    text-indent: 12px;
    color: #ADADAD;
    font-weight: 400;
    font-size: 12px;
    padding: 1px 45px 1px 1px;

    &:active {
      padding: 0 44px 0 0;
      border: 1px solid #92F022;
    }

    span {
      color: #222222;
    }
  }

  svg {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translate(0, -50%);
  }
}

#home__dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;

  p {
    color: #222222;
    font-weight: 500;
    font-size: 12px;
    margin: 0 0 6px 0;
  }

  div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background: #F4F4F4;
    border-radius: 10px;
    width: 127.5px;
    height: 16px;
    border: none;
    outline: none;
    font-size: 12px;
    color: #222222;
    padding: 15px 27px 15px 12px;
    font-family: 'TT Hoves', sans-serif;
    position: relative;

    &:active {
      padding: 14px 26px 14px 11px;
      border: 1px solid #92F022;
    }

    &:after {
      pointer-events: none;
      content: "";
      background: linear-gradient(270deg, #F4F4F4 0%, rgba(244, 244, 244, 0.7) 100%);
      border-radius: 10px;
      position: absolute;
      right: 0;
      top: 0;
      height: 44px;
      width: 46px;
    }
  }

  svg {
    position: absolute;
    z-index: 1;
    right: 17px;
    top: 41px;
  }
}

.check {
  &:first-child {
    margin-top: 24px;
  }

  display: flex;
  align-items: center;
  margin-top: 12px;

  p {
    margin: 0 0 0 8px;
    font-size: 12px;
    color: #222222;
  }

  input {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #92F022;
    border-radius: 4px;
    cursor: pointer;
    position: relative;

    &:checked {
      &:after {
        content: url("../assets/check.svg");
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12px;
        height: 14px;
      }
    }
  }
}

#home__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(#222222, 0.3);
  border-radius: 22px;
  width: 345px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  font-family: 'TT Hoves', sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 25px;
}

#privacy {
  color: #ACACAC;
  font-size: 12px;
  text-align: center;
  padding-top: 40px;
  text-decoration: underline;
}

#city__container {
  position: absolute;
  top: 52px;
  z-index: 2;
  width: 100%;
}

.city {
  display: flex;
  align-items: center;
  width: calc(100% - 24px);
  background: #FFFFFF;
  border: 1px solid #F4F4F4;
  box-shadow: 0 6px 12px rgba(175, 175, 175, 0.25);
  border-radius: 10px;
  font-family: 'TT Hoves', sans-serif;
  outline: none;
  height: 44px;
  font-size: 12px;
  padding: 0 12px;
  cursor: pointer;

  .city__country {
    color: #ADADAD;
    margin-left: 8px;
  }

  .city__code {
    color: #ADADAD;
    margin-left: auto;
  }

  &:not(:first-child) {
    margin-top: 1px;
  }
}

.show {
  animation: show 0.3s forwards;
}

.hide {
  animation: hide 0.3s forwards;
}

@keyframes show {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

#down-modal-blur {
  transition: opacity 1.3s;
  position: fixed;
  content: "";
  width: 100vw;
  height: 200vh;
  top: -100vh;
  left: 0;
  background-color: rgba(#000, 0.15);
  z-index: 1;
}

.down-modal {
  position: fixed;
  width: 100vw;
  background: #FFFFFF;
  border-radius: 24px 24px 0 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding-bottom: 20px;

  .down-modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    position: relative;

    &:after {
      content: "";
      width: calc(100% - 30px);
      height: 1px;
      background-color: #DBDBDB;
      position: absolute;
      left: 15px;
      bottom: 10px;
    }

    p {
      color: #222222;
      font-weight: 500;
      font-size: 16px;
      margin: 0;
    }
  }

}

.down-modal-open {
  animation: modalShow .4s both;
}


.down-modal-init {
  visibility: hidden;
  transform: translateY(200vh);
}

.down-modal-close {
  animation: modalHide .4s both;
}

@keyframes modalShow {
  from {
    visibility: hidden;
    transform: translateY(200vh);
  }
  to {
    visibility: visible;
    transform: translateY(0);
  }
}


@keyframes modalHide {
  from {
    visibility: hidden;
    transform: translateY(0);
  }
  to {
    visibility: visible;
    transform: translateY(200vh);
  }
}

#people-select {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  min-height: 70vh;
  position: relative;

  button {
    position: absolute;
    width: calc(100vw - 30px);
    bottom: 0;
    background: #222222;
    border-radius: 22px;
    height: 44px;
    border: none;
    outline: none;
    padding: 0;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'TT Hoves', sans-serif;
  }
}

.people-select__value {
  display: flex;
  align-items: center;

  &:not(:first-child) {
    margin-top: 24px;
  }
}

.people-select__value__text {
  display: flex;
  flex-direction: column;

  p:first-child {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    color: #222222;
  }

  p:last-child {
    margin: 6px 0 0 0;
    font-weight: 500;
    font-size: 12px;
    color: #ACACAC;
  }
}

.people-select__value__size {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    border: 1px solid #92F022;
  }

  p {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    color: #222222;
  }
}

#classes {
  padding: 0 0 0 15px;

  p {
    margin: 24px 0 0 0;
    font-weight: 500;
    font-size: 14px;
    color: #222222;
  }

  p:first-child {
    margin: 10px 0 0 0;
  }
}

#calendar {
  display: flex;
  flex-direction: column;
  height: 83vh;
  overflow-y: scroll;
  padding-bottom: 35px;
}

.calendar__container {
  display: flex;
  flex-direction: column;
}

.calendar__container__month {
  font-weight: 500;
  font-size: 14px;
  color: #222222;
  margin: 15px 0 0 15px;
}

.calendar__container__week {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 342px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 100vw;
    left: calc(-1 * (100vw - 342px) / 2);
    top: 0;
    height: 24px;
    background-color: rgba(#DBDBDB, 0.2);
  }

  p {
    width: 12px;
    font-weight: 500;
    font-size: 12px;
    color: #000000;
    margin: 0;
  }
}

.calendar__container__grid {
  margin-top: 12px;
  margin-bottom: 25px;
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(7, 15px);
  grid-template-rows: repeat(5, 14px);
  gap: 40px;

  p {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
  }

  .calendar__container__grid__disable {
    color: rgba(#000000, 0.3);
  }
}

#calendar__container__grid__selected {
  position: relative;

  &:after {
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: #92F022;
    top: -5px;
    left: -4px;
    position: absolute;
    z-index: -1;
  }
}

#calendar__button {
  position: fixed;
  width: calc(100vw - 30px);
  background: #222222;
  border-radius: 22px;
  height: 44px;
  border: none;
  outline: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  font-family: 'TT Hoves', sans-serif;
  bottom: 20px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  z-index: 2;
}

.calendar__button-hidden {
  opacity: 0;
  visibility: hidden;
}

.calendar__button-visible {
  animation: show 0.3s forwards;
}

#people-select__error {
  font-size: 12px;
  color: #FF2E00;
  margin: 20px 0 0 0;
}

.people-select__value__size__block {
  opacity: 0.3;
}

.home__error {
  display: none;
}

.home__wrapper__error {
  .direction-input {
    .direction-input__error {
      padding: 0 0 0 44px;
      border: 1px solid #FF2E00;
    }
  }

  .home__error {
    display: initial;
    color: #FF2E00;
    font-size: 12px;
    margin: 6px 0 0 0;
  }

  .calendar-input__error {
    padding: 14px 26px 14px 11px;
    border: 1px solid #FF2E00;
  }

  #dropdown-people {
    div {
      padding: 14px 26px 14px 11px;
      border: 1px solid #FF2E00;
    }
  }
}